/* RESET CSS */
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-strong-cyan: hsl(172, 67%, 45%);
  --neutral-very-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
  --neutral-grayish-cyan: hsl(184, 14%, 56%);
  --neutral-light-grayish-cyan: hsl(185, 41%, 84%);
  --neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background: var(--neutral-light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

.titleContainer {
  padding-top: 3.125rem;
  margin-bottom: 2.55375rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 49.3125rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.calculator_input {
  height: 27.25rem;
  width: 19.4375rem;
  margin: 0 auto;
}
.calculator_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 16.0625rem;
  width: 20.4375rem;
  background: var(--neutral-very-dark-cyan);
  margin: 0 auto;
  border-radius: 15px;
}

.billContainer {
  height: 4.875rem;
  color: var(--neutral-dark-grayish-cyan);
}

.billInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.375rem;
  color: var(--neutral-very-dark-cyan);
  background-color: hsl(185, 38%, 97%);
  height: 3rem;
  border-radius: 5px;
  padding-right: 1.062rem;
  padding-left: 1.062rem;
}

input {
  border: hidden;
  text-align: right;
  background-color: hsl(185, 38%, 97%);
  outline: none;
  color: var(--neutral-very-dark-cyan);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.035rem;
}
.tip {
  height: 13.5rem;
  margin: 2rem 0;
}
.select_tip {
  color: var(--neutral-dark-grayish-cyan);
  margin-bottom: 1rem;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral-very-dark-cyan);
  width: 9.164rem;
  height: 3rem;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 24px;
  color: var(--white);
}
.tileContainer,
.tileContainer input {
  background-color: hsl(185, 38%, 97%);
  color: hsl(180, 18%, 40%);
}
.tileContainer input::placeholder::focus {
  color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

.numberPeople {
  color: var(--neutral-dark-grayish-cyan);
}

::placeholder {
  color: hsl(180, 18%, 40%);
}
.numberPeopleInputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.375rem;
  color: var(--neutral-very-dark-cyan);
  background-color: hsl(185, 38%, 97%);
  height: 3rem;
  border-radius: 5px;
  padding-right: 1.062rem;
  padding-left: 1.062rem;
}

.tile:hover,
.btn_reset:hover {
  background: hsl(172, 61%, 77%) !important;
  cursor: pointer;
}

.calculator_display {
  width: 17.5625rem;
  height: 7.25rem;
  margin-bottom: 2rem;
  margin-top: 2.3125rem;
}

.totalPersonContainer {
  display: flex;
  justify-content: space-between;
}

.tipAmountContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.tipAmount {
  color: var(--white);
}
.tipPerPerson {
  color: hsl(183, 15%, 56%);
}
.tipAmountDisplay {
  align-self: flex-end;
  font-size: 32px;
  color: var(--primary-strong-cyan);
}

.totalAmount {
  color: var(--white);
}
.totalPerPerson {
  color: hsl(183, 15%, 56%);
}
.totalAmountDisplay {
  align-self: flex-end;
  font-size: 32px;
  color: var(--primary-strong-cyan);
}

.calculator_result .btn_reset {
  text-transform: uppercase;
  width: 17.5625rem;
  margin-bottom: 1.5rem;
  color: var(--neutral-very-dark-cyan);
  background-color: var(--primary-strong-cyan);
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex-direction: row;
    height: 30.0625rem;
    width: 57.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 3px 9px 24px -5px rgba(0, 0, 0, 0.1);
  }

  .titleContainer {
    margin-bottom: 5.49125rem;
    display: flex;
    justify-content: center;
  }
  .tileContainer {
    width: 23.6875rem;
    height: 7rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    column-gap: 0.875rem;
    row-gap: 1rem;
  }

  .calculator_result {
    margin: auto 0;
    height: 26.0625rem;
    width: 25.8125rem;
    justify-content: space-between;
  }
  .calculator_display {
    width: 20.8125rem;
  }

  .calculator_input {
    width: 23.6875rem;
    height: 24.25rem;
    margin: auto 0;
  }

  .tile {
    width: 7.3125rem;
    height: 3rem;
  }
  .tipAmountContainer {
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2.5625rem;
    margin-right: auto;
    margin-left: auto;
  }

  .totalPersonContainer {
    justify-content: space-between;
    margin-bottom: 8.3125rem;
  }
  .tip {
    margin: 2.5rem 0;
    height: 9.5rem;
  }
  .tipAmountDisplay,
  .totalAmountDisplay {
    font-size: 48px;
  }

  #billInputValue,
  #numberOfPeopleInputValue {
    font-size: 24px;
  }

  .tipAmountLabel,
  .totalAmountLabel {
    place-self: center;
  }
  .btn_reset {
    width: 20.8125rem !important;
  }
}
